#game-page {
  margin: 40px 60px;
  display: flex;
  width: calc(100vw - 120px);
}

.info-container {
  width: 500px;
}

.room-name {
  font-size: 1.8rem;
}

#quit-room-btn,
#ready-btn {
  height: 35px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin: 20px 0;
}

.user-list {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.user {
  width: 90%;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.ready-status-red,
.ready-status-green {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 20px;
}

.ready-status-red {
  background-color: red;
}

.ready-status-green {
  background-color: green;
}

.user-name {
  font-weight: 600;
  font-size: 1.4rem;
}

.user-progress {
  margin-top: 10px;
  height: 32px;
  width: 100%;
  border: 2px solid black;
}

.user-progress-fill {
  background-color: rgb(0, 172, 0);
  height: 100%;
  width: 40%;
}

.game-container {
  margin: 0 100px;
  padding: 15px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 700px;
  border: 1px solid black;
  position: relative;
}

#timer {
  font-size: 3rem;
}

.timer-game {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.text-container {
  font-size: 1.5rem;
  box-sizing: border-box;
}

.text-container span.current {
  background-image: linear-gradient(to right, green 75%, transparent 75%);
  background-position: 0 1.24em;
  background-repeat: repeat-x;
  background-size: 8px 10px;
  margin: 0 -4px;
}
