#rooms-page {
  margin: 40px 60px;
}

#add-room-btn {
  height: 50px;
  font-size: 18px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
  margin-top: 20px;
}

#room-cards-container {
  margin-top: 30px;
  display: flex;
}

.room {
  background-color: whitesmoke;
  border: 1px solid black;
  height: 250px;
  width: 300px;
  padding: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.room > .name {
  margin-top: 12%;
  align-self: center;
  font-size: 1.4rem;
}

.room > .connected-users {
  font-style: italic;
}

.room > .join-btn {
  margin-top: 25%;
  align-self: center;
  height: 39px;
  width: 120px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 15px;
}
